body {
  background-image: url("AdobeStock_145518338.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  /*background-color: #000;*/
}

.text-center {
  position: absolute;
  top: 50%; /* 垂直方向の中央に配置 */
  left: 50%; /* 水平方向の中央に配置 */
  transform: translate(-50%, -50%); /* 中央揃え */
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 132.4px;
  letter-spacing: 0;
  line-height: normal;
}

.btn {
  position: absolute;
  left: 50%; /* 水平方向の中央に配置 */
  transform: translate(-50%, 0%); /* 中央揃え */
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  font-size: 90px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 20px;
  border-radius: 30px;
}
