body {
  background-image: url("AdobeStock_145518338.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  font-family: 'Noto Serif JP', sans-serif;
}

.text-center {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-color: #6a6e78;
  border-radius: 30px;
  color: aliceblue;
  font-size: 80px;
  padding: 10px;
  letter-spacing: 0;
  line-height: normal;
}

#un {
  position: absolute;
  top: 300px;
  right: 30%;
  margin: 10px;
  font-size: 20px;
  color: aliceblue;
}

.btn_un {
  display: flex;
  top: 200px;
  right: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  height: 4rem;
  width: 120px;
  margin: auto;
  padding: 0 4rem;
  border-radius: 100vw;
  background: #6a6e78;
  background-size: 400%;
  color: aliceblue;
  font-size:  30px;
}

.btn_un:hover::before {
transform: scaleX(1);
}

.btn_un:hover {
color: aliceblue;
}

.btn_un span {
position: relative;
z-index: 1;
}

.btn_un::before {
content: '';
position: absolute;
top: 0;
left: 0;
transform: scaleX(0);
transform-origin: 0 50%;
width: 100%;
height: inherit;
border-radius: inherit;
background: linear-gradient(
  82.3deg,
  rgba(39, 172, 217, 1) 10.8%,
  rgba(18, 83, 229, 1) 94.3%
);
transition: all 0.475s;
}
