body{
    background-image: url(“AdobeStock_145518338.jpeg”);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    font-family: 'Noto Serif JP', sans-serif;
}